.tabs {
    &__list {
        display: flex;
        margin-bottom: 60px;
    }

    &__label {
        color: #9A9CA5;
        text-align: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: #1E212C;
        }

        &.active {
            color: #FF3F3A;        
            border: 2px solid #FF3F3A;
            border-radius: 4px;
            &:hover {
                color: #FF3F3A;
            }
        }
    }
}

.tabs-content {
    &__item {
        &.hide {
            display: none;
        }
    }
}