.blog {
    padding: 150px 0 180px;

    &__label {
        color: #1E212C;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 8px;
    }

    &__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 60px;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    .tabs__list {
        gap: 12px;
        height: 46px;
        margin-right: auto;
        margin-bottom: 0;
    }

    .tabs__label {
        font-weight: 700;
        line-height: 1.6;
        padding: 10px 20px;
        & > span {
            font-weight: 400;
            vertical-align: middle;
            margin-right: 4px;
        }
    }

    &__filter {
        margin-right: 40px;
    }

    &__filter-label {
        color: #424551;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.6;
        margin-right: 12px;
    }

    &__filter-select {
        color: #424551;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        width: 160px;
        height: 44px;
        padding: 12px 16px;
        appearance: none;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        background-image: url("../images/dist/events/down-chevron-toolbar.svg");
        background-repeat: no-repeat;
        background-position: right 16px top 14px;
        &:focus {
            outline: 1px solid #1E212C;
        }
    }

    &__filter-option {
        color: #424551;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
    }

    &__search-form {
        position: relative;
    }

    &__search-input {
        width: 285px;
        height: 44px;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        padding: 12px 16px;
        &::placeholder {
            color: #9A9CA5;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
        }
        &:focus {
            outline: 1px solid #1E212C;
        }
    }

    &__search-button {
        position: absolute;
        right: 0;
        background-color: transparent;
        width: 48px;
        height: 44px;
    }

    .icon-search:before {
        color: #9A9CA5;
        font-size: 16px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 30px;
        margin-bottom: 80px;
    }

    &__item {
        flex-basis: calc(100% / 3 - 20px);
        position: relative;
        &:nth-child(4) {
            flex-basis: calc((100% * 5) / 9 - 15px);
        }
        &:nth-child(5) {
            flex-basis: calc((100% * 4) / 9 - 15px);
        }
    }

    &__post-type {
        position: absolute;
        top: 12px;
        left: 12px;
        color: #424551;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        padding: 1px 8px;
        background-color: #FFFFFF;
        border-radius: 4px;

        .icon-microphone:before,
        .icon-play:before,
        .icon-article:before {
            font-size: 16px;
            vertical-align: bottom;
        }

    }

    &__post-image {
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
        margin-bottom: 16px;
    }

    &__post-info {
        display: flex;
        align-items: baseline;
        gap: 12px;
        color: #787A80;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    &__post-category {
        font-weight: 700;
    }

    &__post-date:before,
    &__post-duration:before {
            content: '|';
            margin-right: 10px;
    }

    .icon-calendar:before,
    .icon-clock:before {
            font-size: 16px;
            vertical-align: bottom;
            margin-right: 4px;
    }

    &__post-title {
        color: #1E212C;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    &__post-text {
        color: #424551;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    &__post-link {
        color: #1E212C;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.6;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: #FF3F3A;
        }
        & .icon-arrow-right:before {
            color: #FF3F3A;
            font-weight: 400;
            font-size: 24px;
            margin-left: 8px;
            vertical-align: sub;
        }    
    }

    &__pagination {
        display: flex;
        gap: 15px;
        justify-content: center;

        .icon-arrow-left,
        .icon-arrow-right {
            line-height: 26px;
            &:before {
                color: #424551;
                font-size: 24px;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }    
    }

    &__pagination-prev,
    &__pagination-next {
        height: 26px;
        background-color: transparent;
        &:hover {
            .icon-arrow-left,
            .icon-arrow-right {
                &:before {
                    color: #FF3F3A;
                }
            }
        }
    }

    &__pagination-list {
        display: flex;
        gap: 10px;
    }

    &__pagination-item {
        color: #424551;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.6;
        width: 20px;
        text-align: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &.current {
            color: #FF3F3A;
        }
        &:hover {
            color: #FF3F3A;
            &.current {
                color: #FF3F3A;
            }
        }
    }
}