.subscribe-blog {
    background-color: #F4F5F6;

    &__columns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: #1E212C;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.3;
        width: 600px;
        margin-bottom: 48px;
    }

    &__input {
        width: 422px;
        height: 52px;
        background-color: #FFFFFF;
        padding: 13px 16px;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        &::placeholder {
            color: #9A9CA5;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
        }
    }

    &__button {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 3.25;
        width: 154px;
        height: 52px;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        border-radius: 4px;
        margin-left: 24px;
    }

    &__label {
        position: relative;
        display: block;
        color: #424551;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        margin-top: 24px;
        padding-left: 28px;
    }

    &__checkbox {
        position: absolute;
        appearance: none;
        &:checked + .icon-checkbox {
            background-color: #FF3F3A;
            border: 1px solid #FF3F3A;

        }
    }

    .icon-checkbox {
        position: absolute;
        top: 4px;
        width: 16px;
        height: 16px;
        background-color: #FFFFFF;
        border: 1px solid #B3B7BC;
        border-radius: 3px;
        margin-left: -28px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:before {
            position: absolute;
            top: -0.5px;
            left: -1px;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
        }
    }
}